@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Montserrat+Alternates:wght@400;700;900&family=Montserrat:wght@300;400;700;900&family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=DM+Serif+Display&family=Montserrat&family=Poppins:wght@700&display=swap');

.parent {
    background-color: #fff;
    height: 100vh;
    box-sizing: border-box;
    color: #000;
    position: relative;
}

.children{
    width: 100%;
}

a.active {
    color: grey;
    text-decoration: underline 0.15em grey;
    text-underline-offset: 0.4em;
}

a {
    color: #000;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.1em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-align: center;
    margin: 15px auto;
    font-family: "Poppins", sans-serif;
    transition: 300ms;
}

a:hover {
    color: grey;
    text-decoration-color: grey;
    text-underline-offset: 0.4em;
}

ul {
    list-style-type: none;
}

.nav-container {
    position: relative;
    padding: 5px 20px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav-container .nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
    box-sizing: border-box;
    font-size: 17px;
    text-transform: uppercase;
}

.nav-bar ul {
    display: flex;
    box-sizing: border-box;
}

.nav-bar ul li {
    margin: auto 10px;
    font-size: 17px;
    padding: 15px 0;
    text-transform: uppercase;
}

#open-menu {
    display: none;
}

#close-menu {
    width: 20px;
    display: none;
    position: absolute;
    right: 0;
    top: 21px;
    margin: 0 0 0px 12px;
}

#navbar-mob a{
    color: #000;
}

#navbar-mob {
    position: fixed;
    top: 1px;
    display: none;
    width: 100%;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 20px;    margin: -5px -20px;
}

#navbar-mob .left-nav-top img {
    width: 30px;
    margin-right: 10px;
}

#navbar-mob ul {
    position: relative;
    justify-content: center;
    margin: 0;
    list-style-type: none;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

#navbar-mob ul li {
    padding: 20px;
    color: #000;
    margin:  0;
}


.socials {
    position: fixed;
    top: 40%;
}

.socials img {
    width: 28px;
}

.socials ul li {
    margin: 20px 0;
}

@media (max-width: 740px) {
    .nav-container .nav-bar>ul {
        display: none;
    }
    #open-menu {
        display: block;
    }
}