.works-box {
    padding: 5px 20px;
  }
  
 .works-box a {
    color: grey;
    text-decoration: underline 0.15em rgb(0, 0, 0);
    text-underline-offset: 0.1em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-align: center;
    margin: 15px auto;
    font-family: "Poppins", sans-serif;
    transition: 300ms;
}

.works-box a:hover {
    color: black;
    text-decoration-color: black;
    text-underline-offset: 0.4em;
}

  .works-box main {
    position: fixed;
    top: 19%;
    left: 12%;
    width: 100%;
  }

  .works-box main {
    width: 80%;
    margin: 0 auto;
  }

  .works-box main .sites {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .works-box main .sites div {
    width: 350px;
    border: 2px solid #000;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 400ms;
  }

  .works-box main .sites div:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.252);
    box-shadow: 7px 7px 5px rgb(65, 65, 65);
  }

  .works-box main .sites div h1 {
    font-size: 25px;
    font-family: "DM serif display", sans-serif;
    text-transform: lowercase;
    font-weight: 700;
  }

  .works-box main .sites div p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
  }

  .works-box footer {
    position: absolute;
    bottom: 0;
  }
  
  .works-box footer p {
    font-size: 5em;
    text-decoration: underline;
    font-family: "Chakra Petch", sans-serif;
  }


  /* overflow: scroll;
  height: 100vh; */


@media screen and (max-width: 1040px) and (min-width: 451px) {
    .works-box main {
        overflow: scroll;
        height: 83vh;
        top: 10%;
    }
    .works-box main .sites div {
        width: 100%;
    }
    .works-box footer p {
        font-size: 3em;
    }
}
@media screen and (max-width: 450px) and (min-width: 380px) {
    .works-box main {
        top: 8%;
        left: 15%;
        overflow: scroll;
        background-color: rebeccapurple;
    }
    .works-box main .sites {
      height: 85vh;
      overflow-x: scroll;
    }
    .works-box footer p{
        font-size: 3em;
    }
}
@media screen and (max-width: 375px) {
    .works-box main {
        top: 10%;
        left: 16%;
        height: 83vh;
        overflow: scroll;
    }
    .works-box footer p {
        font-size: 2em;
    }
}
@media screen and (max-width: 370px) and (min-width: 200px) {
    .works-box main {
        height: 80vh;
        left: 18%;
    }
}
@media screen and (max-width: 540px) and (min-width: 539px) {
    .works-box main {
        height: 81vh;
    }
    .works-box footer p {
        font-size: 3em;
    }
}